.card {
    position: relative;
    width: 250px;
    height: 200px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: white;
    line-height: 1.3;
    
    

  }

  .title {
    margin: 0 0 8px 0;          /* רווח מתחת לכותרת */
    font-size: 18px;
    font-weight: 600;
  }
  
  .author {
    margin: 0 0 4px 0;
    color: #555;
  }
  
  .details {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
  }
  
  .tag {
    background: #eee;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .favStar {
    position: absolute;
    bottom: 8px;   /* במקום top */
    right: 8px;    /* נשאר כי אתה רוצה פינה ימנית */
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;

  }
  .desc {
  display: -webkit-box;
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #555;
  margin-top: 8px;
}

.descExpanded {
  color: #555;
  margin-top: 8px;
}

.readMoreBtn {
  background: none;
  border: none;
  color: #0077cc;
  cursor: pointer;
  padding: 0;
  margin-top: 4px;
  font-size: 14px;
}
