.favBtn {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid black;
  cursor: pointer;
  margin-bottom: 20px;   /* רווח מלמטה */
  margin-top: 10px;      /* רווח מלמעלה */  
  transition: 0.2s;
  background-color: white;
}

.active {
  background: white;
  border-color: solid black;
}

.favBtn:hover {
  background: gray;
}
